
<h1 id="signuptitle">SIGN-UP</h1>
<%= form_for @user do |u| %>

<% if @user.errors.any? %>
        <div id="error_explanation">

          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |user| %>
                <li><%= user %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<div class="centersignup">
<div class = "large-6 medium-7 small-7" id ="formbox">

	<%= u.text_field :username, maxlength: 15, placeholder: "Username (at least 4 characters)", class: "myformcontrol" %>

	<%= u.password_field :password, maxlength: 15, placeholder: "Password (at least 8 characters)", class: "passwordformcontrol" %>

	<%= u.password_field :password_confirmation, maxlength: 15, placeholder: "Re-enter password", class: "confirmformcontrol" %>
	
  <%= u.text_field :email, placeholder: "Email Address", class: "myformcontrol" %>

  <div class="inlineform">
	<%= u.text_field :age, maxlength: 2, placeholder: "Age", class: "smallformcontrol" %>
  
	<%= u.select :gender, [["Select Gender", "Select Gender"],["Male", "Male"],["Female","Female"],["Other", "Other"]] %>
	</div>

  <div class="inlineform">
  <%= u.text_field :city, placeholder: "City", class: "cityformcontrol" %>

  <%= u.text_field :state, placeholder: "State", class: "stateformcontrol" %>

	<%= u.submit "GET STARTED", class: "submitsign" %>
  </div>

<% end %>
</div>
</div>


