
<div x-ng-app="user_app">
<div x-ng-controller="UserCtrl">

<div class= "userbody" x-ng-app="user_app">

<%= render "users/nav_bar" %>

  <div class = "bodybox">
    <ul class = "large-block-grid-3 small-block-grid-1">
      <li>
        <div class = "maincontent" id ="profilebody">
          <h1 class ="bigtitle">Hello, Dinna!</h1>
            24.F     Cerritos. CA, USA
          <h1 class = "bigtitle">MY SONGS</h1>
          <div id = "mysongs">
              - La La La <br />
              Naughty Boy ft. Sam Smith <br />
                   <br />
              - Beneathe Your Beantif... <br />
              Labrinth ft. Emeli Sand <br />
                                          <br />
              -For the First Time in Fo... <br />
              Kirsten Bell <br />
                                          <br />
              - All of Me <br />
              John Legend <br />
                                         <br />
              - Latch <br />
              Disclosure ft. Sam Smith <br />

                            - La La La <br />
              Naughty Boy ft. Sam Smith <br />
                   <br />
              - Beneathe Your Beantif... <br />
              Labrinth ft. Emeli Sand <br />
                                          <br />
              -For the First Time in Fo... <br />
              Kirsten Bell <br />
                                          <br />
              - All of Me <br />
              John Legend <br />
                                         <br />
              - Latch <br />
              Disclosure ft. Sam Smith <br />
                                        
              + ADD NEW SONG
          </div>
      </div>
      </li>

      <li>
        <div class = "maincontent" id ="playerbody"><h1 class="bigtitle">Now Playing </h1>
          <br />
          <div class = "albumphoto"> <%= image_tag 'zedd.jpg', height: 00, width: 200 %>
          </div>
          <div class="testplayer">
              <div>1:30 </div> &nbsp;&nbsp;&nbsp;
              <div>ll</div>&nbsp;&nbsp;&nbsp;
              <div>FWD</div>&nbsp;&nbsp;&nbsp;
          </div>
          <div class="songproperties">
            <%= image_tag 'heart.png' %>
          <p>Find You </p><br />
          <p>By: Zedd</p>
        </div>
        </div>
      </li>

      <li>
        <div class = "maincontent" id ="mapbody">
          <h1 class="bigtitle">Current Location:</h1><br />
          <h1 class="bigtitle">Santa Monica</h1> <br />
          <%= image_tag 'map.png', class:"mapbutton" %>

          <div id="usermaplocation"></div>

          <button></button>

          <input type="text" value="34.013678999999996" ng-model="lat"> <input type="text" value="-118.49610919999999" ng-model="lng">
          <p>{{lat}}, {{lng}}</p>

            <reverse-geocode lat="{{lat}}" lng="{{lng}}" />





        </div>

      </li>
    </ul>
  </div>

</div>

<!-- AARON DINNA SHIT ABOVE -->
<!-- PAULS SHIT BELOW -->
<!-- DONT FUCK WITH THIS -->


<%#= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%#= text_field_tag :search, params[:search], placeholder: "Search Users" %>
  <%#= submit_tag "Search", :name => nil %>
<%# end %>

<input type="text" ng-model="searchTerm">
<button ng-click="search(searchTerm)">Search Song</button>

<p>logged in as <%= @current_user.username %></p>


<!-- <ul>
  <li x-ng-repeat="s in userSongs">
    {{s.artist}} - {{s.title}} - {{s.key}} <a ng-click="deleteSong(s)">Delete</a>
  </li>
</ul> -->

<ul>
  <li x-ng-repeat="s in userSongs">
    {{s.artist}} - {{s.title}} - {{s.key}} <a ng-click="playSong(s.key);">Play</a> <a ng-click="deleteSong(s)">Delete</a>
  </li>
</ul>
   <br>
<ul>
  <li x-ng-repeat="s in searchSongs">
    {{s.artist}} - {{s.name}} - {{s.key}} <a ng-click="playSong(s.key);">Play</a> <a ng-click="deleteSong(s)">Delete</a> <a ng-click="saveSong(s)">Add to Playlist</a>
  </li>
</ul>

  <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

<!--   <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->


  <div class="container">

    <div id="upsell" class="alert alert-info alert-dismissable">
      <div id="subscriber">You are an Rdio subscriber. You're awesome.</div>
      <div id="trial">You are an Rdio trial user, Subscribe now!</div>
      <div id="free">You are an Rdio Free user with <span id="remaining"></span>% of your quota remaining, subscribe now!</div>
      <div id="nobody">To hear full tracks subscribe to Rdio.</div>
    </div>

    <div id="apiswf"></div>
      <div class="well" style="overflow: hidden;">
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-2">Enter Album Key</div>
          <div class="col-md-10">
            <input id="play_key" class="form-control" value="t10597075">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6"> 
            <div class="playControls btn-group">
              <button id="play" class="btn btn-default"><i class="fa fa-play-circle"></i> Play</button>
              <button id="stop" class="btn btn-default"><i class="fa fa-stop"></i> Stop</button>
              <button id="pause" class="btn btn-default"><i class="fa fa-pause"></i> Pause</button>
              <button id="previous" class="btn btn-default"><i class="fa fa-step-backward"></i> Previous</button>
              <button id="next" class="btn btn-default"><i class="fa fa-step-forward"></i> Next</button>
            </div>
          </div>
          <div class="col-md-6"> 
            <div id="freq" class="frequency">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row well">
        <div class="artistAlbumInfo well col-md-6 ">
          <h3><span id="artist"></span> - <span id="track"></span></h3>
          <img src="" id="art" class="albumArt">
        </div>
        <div class="col-md-6">
          <h3 id="album"></h3>
          <h4>Remaining <p id="remaining"></p></h4>
          <h4>Playstate <p id="playState"></p></h4>
          <h4>Position <p id="position"></p></h4>
        </div>
      </div>
</div>

<p><button onclick="geoFindMe()">Show my location</button></p>
<div id="usermaplocation"></div>



<h1> Songs </h1>

<div id="songs-destination"></div>


</div>
</div>

<!-- 
<ul>
  <script id="songs-template" type="text/x-handlebars-template">
    {{#each songs}}
      <li>
        #{{id}}: <br /> 
        Title:{{title}} <br /> 
        Artist:{{artist}} <br />
        Key:{{key}} <br />
      </li>
    {{/each}}
  </script>
</ul>


 -->


<!-- <iframe src="https://embed.spotify.com/?uri=<%=params[:uri]%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>


<script src="http://toma.hk/api.js?v=1"></script>

<button onclick="renderTrack()">track.render()</button>

<div id="controls">
    <button onclick="track.play()">track.play()</button>
    <button onclick="track.play(&#39;SoundCloud&#39;)">track.play('SoundCloud')</button>

    <button onclick="track.pause()">track.pause()</button>
    <button onclick="track.seek(30)">track.seek(30)</button>

</div>
<div id="log"></div>

<div id="player"></div>

<input id="title" value="Yelle - Que Veux Tu">
<input id="artist" value="Madeon">

<script>
Security.allowDomain("www.rdio.com");
var rdio : Object = null;
loader = new Loader();
loader.contentLoaderInfo.addEventListener(Event.INIT, function() {
  rdio = loader.content;
  rdio.addEventListener("rdioReady",
    function(event : Event) : void { rdio.play("a997982"); });
  rdio.addEventListener("playingTrackChanged", playingTrackChanged);
});
loader.load(new URLRequest("http://www.rdio.com/api/swf/?"+
  'domain='+encodeURIComponent(domain)+'&'+
  'playbackToken='+encodeURIComponent(playbackToken)));

</script> -->
