<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<% @songs.each do |s| %>
  <h4><%= link_to s.artist + " - " + s.name, user_songs_path(song: {artist: s.artist, title: s.name, key: s["key"], album: s.album, duration: s.duration, is_explicit: s.isExplicit, image_url: s.icon400 }), :method => :post %></h4>
<% end %>





  <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">




  <div class="container">

    <div id="upsell" class="alert alert-info alert-dismissable">
      <div id="subscriber">You are an Rdio subscriber. You're awesome.</div>
      <div id="trial">You are an Rdio trial user, Subscribe now!</div>
      <div id="free">You are an Rdio Free user with <span id="remaining"></span>% of your quota remaining, subscribe now!</div>
      <div id="nobody">To hear full tracks subscribe to Rdio.</div>
    </div>

    <div id="apiswf"></div>
      <div class="well" style="overflow: hidden;">
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-2">Enter Album Key</div>
          <div class="col-md-10">
            <input id="play_key" class="form-control" value="<%=params[:key]%>">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6"> 
            <div class="playControls btn-group">
              <button id="play" class="btn btn-default"><i class="fa fa-play-circle"></i> Play</button>
              <button id="stop" class="btn btn-default"><i class="fa fa-stop"></i> Stop</button>
              <button id="pause" class="btn btn-default"><i class="fa fa-pause"></i> Pause</button>
              <button id="previous" class="btn btn-default"><i class="fa fa-step-backward"></i> Previous</button>
              <button id="next" class="btn btn-default"><i class="fa fa-step-forward"></i> Next</button>
            </div>
          </div>
          <div class="col-md-6"> 
            <div id="freq" class="frequency">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row well">
        <div class="artistAlbumInfo well col-md-6 ">
          <h3><span id="artist"></span> - <span id="track"></span></h3>
          <img src="" id="art" class="albumArt">
        </div>
        <div class="col-md-6">
          <h3 id="album"></h3>
          <h4>Playstate <p id="playState"></p></h4>
          <h4>Position <p id="position"></p></h4>
        </div>
      </div>
</div>

<p><button onclick="geoFindMe()">Show my location</button></p>
<div id="out"></div>



<h1> Songs </h1>

<div id="songs-destination"></div>

<ul>
  <script id="songs-template" type="text/x-handlebars-template">
    {{#each songs}}
      <li>
        #{{id}}: <br /> 
        Title:{{title}} <br /> 
        Artist:{{artist}} <br />
      </li>
    {{/each}}
  </script>
</ul>





<!-- <iframe src="https://embed.spotify.com/?uri=<%=params[:uri]%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>


<script src="http://toma.hk/api.js?v=1"></script>

<button onclick="renderTrack()">track.render()</button>

<div id="controls">
    <button onclick="track.play()">track.play()</button>
    <button onclick="track.play(&#39;SoundCloud&#39;)">track.play('SoundCloud')</button>

    <button onclick="track.pause()">track.pause()</button>
    <button onclick="track.seek(30)">track.seek(30)</button>

</div>
<div id="log"></div>

<div id="player"></div>

<input id="title" value="Yelle - Que Veux Tu">
<input id="artist" value="Madeon">

<script>
Security.allowDomain("www.rdio.com");
var rdio : Object = null;
loader = new Loader();
loader.contentLoaderInfo.addEventListener(Event.INIT, function() {
  rdio = loader.content;
  rdio.addEventListener("rdioReady",
    function(event : Event) : void { rdio.play("a997982"); });
  rdio.addEventListener("playingTrackChanged", playingTrackChanged);
});
loader.load(new URLRequest("http://www.rdio.com/api/swf/?"+
  'domain='+encodeURIComponent(domain)+'&'+
  'playbackToken='+encodeURIComponent(playbackToken)));

</script> -->
